body {
    background: linear-gradient(90deg, black, rgb(0,20,50));
    color: white;
}

.Rubric {
    padding-top: 90px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#intro {
    background-color: rgb(50,50,50);
    text-align: center;
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    margin: 25px;
}

#Highway_Run_icon {
    background-color: rgb(50,50,50);
    width: 200px;
    padding: 25px;
    border-radius: 30%;
    margin: 25px;
}

.text {
    background-color: rgb(50,50,50);
    padding: 70px;
    margin: 25px;
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;
    text-overflow: clip;
    border-radius: 10px;
}

ul {
    text-align: left;
    margin-left: 5vw;
    margin-right: 5vw;
}

#downloads {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
        ". windows android ."
        ". windows . .";
    row-gap: 20px;
    padding-bottom: 50px;
}

#slideShow {
    display: grid;
    grid-template-areas: 
    "img img img img"
    ". btnPrev btnNext .";
    justify-content: center;
}

#img {
    width: 70vw;
    grid-area: img;
}

.imgBtn{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

button{
    background-color: rgba(255, 255, 255, .1);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
button:hover{
    background-color:rgba(0, 0, 0, .3);
    
}

.webgl-content {
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 20px;
    background-color: rgb(50,50,50);
    padding: 50px;
    border-radius: 10px;
}

/* From https://www.w3schools.com/howto/howto_js_collapsible.asp */
.collapsible {
    padding: 10px;
    width: 100%;
    text-align: left;
    font-size: 15px;
}
.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* From https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp*/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: rgb(50, 50, 50);
}
::-webkit-scrollbar-thumb {
    background: rgb(100, 100, 100);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(70, 70, 70);
}

@media screen and (min-aspect-ratio: 10/8) {
    .text {
        margin-left: 20vw;
        margin-right: 20vw;
    }
    #img {
        width: 53vw;
    }
}
@media screen and (min-aspect-ratio: 10/6) {
    .text {
        margin-right: 25vw;
        margin-left: 25vw;
    }
    #img {
        width: 45vw;
    }
}