body {
    background: linear-gradient(90deg, black, rgb(0,20,50));
    color: white;
}

.Rubric {
    padding-top: 120px;
    display: flex;
    justify-content: space-evenly;
}

#intro {
    background-color: rgb(50,50,50);
    text-align: center;
    width: 50vw;
    padding: 10px;
    border-radius: 10px;
}

#Highway_Run_icon {
    background-color: rgb(50,50,50);
    width: 25vw;
    padding: 25px;
    border-radius: 30%;
}

.text {
    background-color: rgb(50,50,50);
    padding: 25px;
    margin: 55px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    text-overflow: clip;
    border-radius: 10px;
}

ul {
    text-align: left;
    margin-left: 5vw;
    margin-right: 5vw;
}

#downloads {
    
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
        ". windows android ."
        ". windows linux ."
        ". ios linux .";
    row-gap: 20px;
}

@media screen and (min-aspect-ratio: 10/9) {
    
}